# Environment variables (sensitive data)
.env

# Virtual Environment
venv/
env/
ENV/

# Python cache & logs
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ruff_cache/
logs/
*.log

# Testing & Coverage
.coverage
htmlcov/
.tox/

# Builds & Packaging
build/
dist/
*.egg-info/

# IDE Settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS files
.DS_Store
Thumbs.db
